{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>base page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'users/icons-1.7.2/font/bootstrap-icons.css' %}">
        <link type="text/css" href="/static/css/style.css" rel="stylesheet">
        <!--    <script type="text/javascript" src="{% static 'js/user_address.js' %}"></script>-->
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'users/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>

        <script>
        function ajaxCall(methodType, url, postData, callBack=null){
            $(function() {
                    $.ajax({
                    url: url,
                    method: methodType,
                    dataType: "json",
                    data: postData,
                    success: function(data) {
                    if (callBack){
                        callBack(data);
                        return
                    }}
                });
            });
        }
        </script>
    </head>
<!--Nav bar start-->
<nav class="navbar navbar-expand-lg navbar-light bg-transparent" id="borderstyle">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="#"><img src="{% static 'users/logooo.png' %}" id="logosize"></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav me-auto" id="text-alignment">
          {% if user.is_authenticated %}
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="#Contactsection">contact us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--Nav bar end-->
<body id="bodyid">
    {% block content %}{% endblock %}



<!-- Footer start -->
<footer class="text-center text-lg-start text-black" id="footer">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Links -->
      <section>
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mt-5 text-center">
            <h6 class="text-uppercase mb-4 font-weight-bold"><img src="{% static 'userlogin/logooo.png' %}" id="logosizefotter"><span class="mb-12">About us</span></h6>
            <p>Here you can use buy all the latest Clothes for women's, Men's and children's. All the latest clothes are available here. You can find clothes by Searching the category.</p>
          </div>
          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-5 ">
            <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
            <p><a class="text-black" href="//127.0.0.1:8000/category_search/3">Men's Wear</a></p>
            <p><a class="text-black" href="//127.0.0.1:8000/category_search/2">Women's Wear</a></p>
            <p><a class="text-black" href="//127.0.0.1:8000/category_search/2">Children's Wear</a></p>
          </div>
          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />
          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-5">
            <h6 class="text-uppercase mb-4 font-weight-bold" id="Contactsection">Contact</h6>
            <p><i class="bi bi-house-fill mr-3"></i> B-Square-1,Antriksh Colony,Ahmedabad,India</p>
            <p><a href="mailto:jinal.desai@trootech.com" class="text-black" target="_blank"><i class="bi bi-envelope-fill mr-3"></i> supershop@gmail.com</a></p>
            <p><a href="tel:+98754182654" class="text-black"><i class="bi bi-phone-fill mr-3"></i> +98754182654</a></p>
            <p><a href="tel:+88754821534" class="text-black"><i class="bi bi-telephone-fill mr-3"></i> +88754821534</a></p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-5">
            <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" id="facebook" href="//www.facebook.com/login/" role="button" target="_blank"><i class="bi bi-facebook"></i></a>
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1" id="twitter" href="//twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D" role="button" target="_blank"><i class="bi bi-twitter"></i></a>
            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" id="google" href="//www.google.co.in/" role="button" target="_blank"><i class="bi bi-google"></i></a>
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" id="insta" href="//www.instagram.com/" role="button" target="_blank"><i class="bi bi-instagram"></i></a>
            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" id="linkedin" href="//www.linkedin.com/login" role="button" target="_blank"><i class="bi bi-linkedin"></i></a>
            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" id="github" href="//github.com/" role="button" target="_blank"><i class="bi bi-github"></i></a>
          </div>
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-black text-center p-3" id="copyright">
      &copy; 2021 Copyright:
      <a class="text-black" >SuperShop.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer end-->
</body>




</html>